.verilate_5/verif/*~
.verilate_5/verif/*.nm
.verilate_5/verif/*.elf
.verilate_5/verif/*.hex
.verilate_5/verif/*.itb
.verilate_5/verif/*.map
.verilate_5/verif/*.o
.verilate_5/verif/*.objdump
.verilate_5/verif/*.readelf
.verilate_5/verif/*.gtkw
.verilate_5/verif/*.vcd
.verilate_5/verif/*.vsif
.verilate_5/verif/*.sve
.verilate_5/verif/*.sdb
.verilate_5/verif/test_build
.verilate_5/verif/dsim.env
.verilate_5/verif/dsim.log
.verilate_5/verif/dsim_results
.verilate_5/verif/metrics.db
.verilate_5/verif/metrics_history.db
.verilate_5/verif/xrun_results
.verilate_5/verif/vsim_results
.verilate_5/verif/vmgr_sessions
.verilate_5/verif/__pycache__
.verilate_5/verif/*.swp
.verilate_5/verif//.cproject
.verilate_5/verif//.project
.verilate_5/verif/.dvt/
.verilate_5/verif/dvt_build.log
.verilate_5/verif/xrun.history
.verilate_5/verif/xrun.log
.verilate_5/verif/xrun.key
.verilate_5/verif/xcelium.d/
.verilate_5/verif/waves.shm/
.verilate_5/verif/*.log
.verilate_5/verif/stdout.txt
.verilate_5/verif/.vscode
.verilate_5/verif/tests/riscv-compliance/
.verilate_5/verif/tests/riscv-arch-test/
.verilate_5/verif/tests/riscv-tests/
.verilate_5/verif/tests/riscv-isa-sim/
.verilate_5/verif/sim/vcs_results
.verilate_5/verif/sim/verilator_work
.verilate_5/verif/sim/out_*
.verilate_5/verif/sim/Mem_init.txt
.verilate_5/verif/sim/*.txt
.verilate_5/verif/sim/trace*
.verilate_5/verif/sim/simv*
.verilate_5/verif/sim/ucli.key
.verilate_5/verif/sim/.inter*
.verilate_5/verif/sim/.vcs*
.verilate_5/verif/sim/inter*
.verilate_5/verif/sim/novas*
.verilate_5/verif/sim/verdiLog
.verilate_5/verif/sim/Verdi.ses*
.verilate_5/verif/riviera_results/
.verilate_5/verif/*/vendor_lib/dpi_dasm_spike/
.verilate_5/verif/*/vendor_lib/verilab/svlib/
.verilate_5/verif/work*
.verilate_5/verif/vsim.dbg
.verilate_5/verif/*.wlf
.verilate_5/verif/transcript
.verilate_5/verif/.lib-rtl
.verilate_5/verif/.opt-rtl
.verilate_5/verif/tools/spike
.verilate_5/verif/tools/verilator*
.verilate_5/verif/*_results/
.verilate_5/verif/*.signature_output
.verilate_5/verif/ucli.key
.verilate_5/verif/vcs.cmd

.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/yaml-cpp/build/
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/yaml-cpp/tags
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/yaml-cpp/bazel-*

.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/build/
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/*.gch
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/autom4te.cache/
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/.*.swp
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/*.o
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/*.d
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/.gdb_history
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/.#*
.verilate_5/verif/core-v-verif/vendor/riscv/riscv-isa-sim/*~

.verilate_5/verif/core-v-verif/*~
.verilate_5/verif/core-v-verif/*.nm
.verilate_5/verif/core-v-verif/*.elf
.verilate_5/verif/core-v-verif/*.hex
.verilate_5/verif/core-v-verif/*.itb
.verilate_5/verif/core-v-verif/*.map
.verilate_5/verif/core-v-verif/*.o
.verilate_5/verif/core-v-verif/*.so
.verilate_5/verif/core-v-verif/*.objdump
.verilate_5/verif/core-v-verif/*.readelf
.verilate_5/verif/core-v-verif/*.gtkw
.verilate_5/verif/core-v-verif/*.vcd
.verilate_5/verif/core-v-verif/*.vsif
.verilate_5/verif/core-v-verif/*.sve
.verilate_5/verif/core-v-verif/*.sdb
.verilate_5/verif/core-v-verif/test_build
.verilate_5/verif/core-v-verif/dsim.env
.verilate_5/verif/core-v-verif/dsim.log
.verilate_5/verif/core-v-verif/dsim_results
.verilate_5/verif/core-v-verif/metrics.db
.verilate_5/verif/core-v-verif/metrics_history.db
.verilate_5/verif/core-v-verif/xrun_results
.verilate_5/verif/core-v-verif/vsim_results
.verilate_5/verif/core-v-verif/vmgr_sessions
.verilate_5/verif/core-v-verif/__pycache__
.verilate_5/verif/core-v-verif/*.swp
.verilate_5/verif/core-v-verif//.cproject
.verilate_5/verif/core-v-verif//.project
.verilate_5/verif/core-v-verif/.dvt/
.verilate_5/verif/core-v-verif/dvt_build.log
.verilate_5/verif/core-v-verif/xrun.history
.verilate_5/verif/core-v-verif/xrun.log
.verilate_5/verif/core-v-verif/xrun.key
.verilate_5/verif/core-v-verif/xcelium.d/
.verilate_5/verif/core-v-verif/waves.shm/
.verilate_5/verif/core-v-verif/*.log
.verilate_5/verif/core-v-verif/stdout.txt
.verilate_5/verif/core-v-verif/.vscode
.verilate_5/verif/core-v-verif/cva6/tests/riscv-compliance/
.verilate_5/verif/core-v-verif/cva6/tests/riscv-arch-test/
.verilate_5/verif/core-v-verif/cva6/tests/riscv-tests/
.verilate_5/verif/core-v-verif/cva6/tests/riscv-isa-sim/
.verilate_5/verif/core-v-verif/cva6/sim/dv/
.verilate_5/verif/core-v-verif/cva6/sim/vcs_results
.verilate_5/verif/core-v-verif/cva6/sim/verilator_work
.verilate_5/verif/core-v-verif/cva6/sim/out_*
.verilate_5/verif/core-v-verif/cva6/sim/Mem_init.txt
.verilate_5/verif/core-v-verif/cva6/sim/*.txt
.verilate_5/verif/core-v-verif/cva6/sim/trace*
.verilate_5/verif/core-v-verif/cva6/sim/simv*
.verilate_5/verif/core-v-verif/cva6/sim/ucli.key
.verilate_5/verif/core-v-verif/cva6/sim/.inter*
.verilate_5/verif/core-v-verif/cva6/sim/.vcs*
.verilate_5/verif/core-v-verif/cva6/sim/inter*
.verilate_5/verif/core-v-verif/cva6/sim/novas*
.verilate_5/verif/core-v-verif/cva6/sim/verdiLog
.verilate_5/verif/core-v-verif/cva6/sim/Verdi.ses*
.verilate_5/verif/core-v-verif/riviera_results/
.verilate_5/verif/core-v-verif/*/vendor_lib/dpi_dasm_spike/
.verilate_5/verif/core-v-verif/*/vendor_lib/verilab/svlib/
.verilate_5/verif/core-v-verif/work*
.verilate_5/verif/core-v-verif/vsim.dbg
.verilate_5/verif/core-v-verif/*.wlf
.verilate_5/verif/core-v-verif/transcript
.verilate_5/verif/core-v-verif/.lib-rtl
.verilate_5/verif/core-v-verif/.opt-rtl
.verilate_5/verif/core-v-verif/tools/spike
.verilate_5/verif/core-v-verif/tools/verilator*
.verilate_5/verif/core-v-verif/*_results/
.verilate_5/verif/core-v-verif/*.signature_output
.verilate_5/verif/core-v-verif/ucli.key
.verilate_5/verif/core-v-verif/vcs.cmd
